<footer class="md-footer">
  <div class="md-footer-meta md-typeset">
    <div class="md-footer-meta__inner md-grid">
      <div style="display: flex; gap: 4rem; padding: 1rem 0;">

        <div>
          <strong>Documentation</strong>
          <ul style="list-style: none; padding: 0; margin: 0.5rem 0;">
            <li><a href="/rtsm/getting-started/installation/">Getting Started</a></li>
            <li><a href="/rtsm/concepts/architecture/">Key Concepts</a></li>
          </ul>
        </div>

        <div>
          <strong>Calabi Inc.</strong>
          <ul style="list-style: none; padding: 0; margin: 0.5rem 0;">
            <li><a href="https://calabi.com" target="_blank">Official Website</a></li>
          </ul>
        </div>

      </div>
      <div style="width: 100%; border-top: 1px solid var(--md-default-fg-color--lightest); padding-top: 1rem;">
        Copyright &copy; 2025 Calabi Inc.
      </div>
    </div>
  </div>
</footer>
